packages/*/venv
packages/*/*/__pycache__
packages/*/*/*/__pycache__
packages/*/*/*/*/__pycache__
packages/*/*/*/*/*/__pycache__
packages/*/*/*/*/*/*/__pycache__
packages/tajweed_rules_library/htmlcov
packages/tajweed_rules_library/.coverage
packages/server
.vscode/*